<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Editar Registro<h2>
    <% usuario.forEach(function(usuario) { %>
        <form action="/edit/<%= usuario._id %>" method="POST">
            <input type="text" value="<%= usuario.name %>" name="name">
            <input type="text" value="<%= usuario.surname %>" name="surname">
            <br/>
            <button><a href="/show">Todos</a></button>
            <button type="submit">Editar</button>
        </form> 
    <% }) %>
</body>
</html>